@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:wght@100;200;400&family=Rubik&display=swap');
/*
    font-family: 'Lobster', cursive;
    font-family: 'Prompt', sans-serif;
    font-family: 'Rubik', sans-serif;
*/

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}
body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}
.navigation {
    width: 100%;
    height: 10%;
    box-shadow: 0px 0px 15px #00000020;
    color: #5d6797;
    font-family: 'Rubik', sans-serif;
    background-color: #FFFFFF;
    position: absolute;
    display: flex;
    z-index: 9999;
}

.navigation-logo > img{
    width: 40px;
    padding: 10px;
}

.navigation-logo {
    margin-left: 30%;
    margin-right: 50px;
}

.container-left {
    width: 50%;
    margin: 0px;
    display: inline-block;
}
.container-right {
    width: 40%;
    margin: 0;
    display: flex;
    float: right;
}

.navigation-item {
    display: flex;
}

.navigation-item > div {
    text-align: center;
    line-height: 60px;
    border-bottom: 3px solid transparent;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    min-width: 100px;
}

.navigation-item > div:hover {
    border-bottom: 3px solid #5d6797;
}


#app {
    width: 100%;
    height: 100vh;
}

/*---------------------------------------------*/
/*  Background animation */

canvas{
    width: 100%;
    background-color: #fff;
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
}

/*---------------------------------------------*/
/*  Header content */

.header {
    display: block;
    display: flex;
}

.box-profile {
    margin-left: 0px;
    margin-right: 0px;
    width: 40% !important;
    display: inline-block;
}

@keyframes popup-animation {
    0%{ transform: scale(1,1);}
    50%{ transform: scale(0.9,0.9);}
    100%{ transform: scale(1,1);}
}
.profile-image {
    margin-left: 15%;
    width: 300px;
    height: 300px;
    background-image: url('./../images/banner.png');
    background-size: cover;
    animation-name: popup-animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.box-text {
    width: 60%;
    padding-top: 10px;
    position: absolute;
    display: inline-block;
}

.container-content {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.content-grid-two > div {
    width: 50%;
}

.content-grid-title > div {
    width: 30%;
}

.content-grid-title > div:nth-child(2){
    width: 50%;
}

.content-grid-about-me {
    margin-top: 50px;
}

.name-header {
    font-family: 'Rubik', sans-serif;
    font-size: 30pt;
    color: #5d6797;
}

.sub-name-header {
    font-family: 'Rubik', sans-serif;
    font-size: 15pt;
    color: #5d6797;
}
.text-header {
    font-family: 'Prompt', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    color: #5d6797;
}

.content-header {
    font-family: 'Prompt', sans-serif;
}

/*---------------------------------------------*/
/*  Btn  */

.button-link-contact {
    background: linear-gradient(#726798,#d56799);
    color: #FFF;
    padding: 5px 15px;
    margin-left: 10px;
    font-family: 'Prompt', sans-serif;
    border-radius: 5px;
    border: 1px solid transparent;
    user-select: none;
    transition: all 0.5s ease;
}

.button-link-contact:hover {
    border-radius: 10px;
}


/*---------------------------------------------*/
/*  Btn  */

.activity-content {
    display: grid;
    width: 90%;
    margin-left: 5%;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 30px;
}

.item-activity {
    display: inline-block;
    width: 90% !important;
    margin-left: 20%;
    background-color: #5d6797;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 15px #00000020;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.item-activity > img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.title-activity {
    opacity: 0.9;
    position: absolute;
    
    color: #FFF;
    text-align: center;
    height: 230px;
    line-height: 210px;
    width: 100%;
    bottom: 0px;
    transition: all 0.5s ease;
}

.item-activity:hover > .title-activity {
    bottom: 0px;
    opacity: 0.0;
}

.item-activity:hover {
    transform: scale(1.1);
}


.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    
    
  }

  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
/*--------------------------------------------------*/
/* project item */

.project-item-activity {
    display: inline-block;
    width: 90% !important;
    margin-left: 20%;
    background-color: #5d6797;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 15px #00000020;
    transition: all 0.5s ease;
}

.project-item-activity > img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.project-title-activity {
    opacity: 0.9;
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    height: 230px;
    line-height: 200px;
    width: 100%;
    top: 0px;
    transition: all 0.5s ease;
}


.project-title-activity > p {
    font-size: 12px;
}

.project-item-activity:hover > .project-title-activity {
    opacity: 0;
}

.project-item-activity:hover {
    transform: scale(1.1);
}

.project-content {
    display: grid;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 30px;
}

.project-content > div {
    width: 50%;
}

.bold-font {
    font-weight: bold;
}

.inner-content-about-me {
    width: 75%;
    margin-left: 10%;
    margin-bottom: 100px;
    padding: 10px 25px;
    border-radius: 5px;
    color: #58649b;
}

.inner-content-about-me > p {
    line-height: 1.6;
}

.activity-content {
    margin-bottom: 100px;
}

.header-center {
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    font-size: 16pt;
    text-align: center;
    color: #726798;
}

/*---------------------------------------------*/
/*  Btn  */

.skill-content {
    display: flex;
    margin-bottom: 100px;
    width: 80%;
    margin-left: 10%;
    user-select: none;
}

.skill-content > div {
    width: 25%;
    margin-right: 1%;
    margin-left: 0.5%;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #00000020;
    overflow: hidden;
    background: linear-gradient(#5d6797,#d56799);
    transition: all 0.5s ease;
    cursor: pointer;
}

.skill-content > div:hover {
    transform: scale(0.9);
}

.skill-content > div:nth-child(2) {
    background: linear-gradient(#58649b,#9e74d4);
}

.skill-content > div:nth-child(3) {
    background: linear-gradient(#b96174,#d67ca4);
}

.skill-content > div:nth-child(4) {
    background: linear-gradient(#965fac,#8660cc);
}

.skill-content > div > h4 {
    top: 0;
    margin-top: 0px;
    color: #FFFFFF;
    background: #00000020;
    text-align: center;
    box-shadow: 0px 0px 15px #00000020;
    padding: 10px 25px;
    margin-bottom: 0;
}

.skill-content > div > div {
    color: #FFFFFF99;
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px 25px;
    background-size: 150px;
    background-repeat: no-repeat;
}

.skill_background1 {
    background-image: url('./../images/skill1.png');
    background-position-y: 40px;
    background-position-x: 100px;
}

.skill_background2 {
    background-image: url('./../images/skill2.png');
    background-position-y: 50px;
    background-position-x: 120px;
    
}

.skill_background3 {
    background-image: url('./../images/skill3.png');
    background-position-y: 50px;
    background-position-x: 120px;
}

.skill_background4 {
    background-image: url('./../images/skill4.png');
    background-position-y: 50px;
    background-position-x: 120px;
}

.contect-menu {
    display: flex;
}

.content-collapsible {
    width: 80%;
    margin-left: 10%;
}



@media screen and (max-width: 600px) {
    .project-content {
        display: grid;
        width: 100%;
        margin-bottom: 50px;
        grid-template-columns: 100% !important;
        grid-row-gap: 30px;
    }
    
    .project-content > div {
        width: 80% !important;
    }

    .project-item-activity {
        display: block;
        width: 100% !important;
        margin-left: 5%;
    }
    .project-title-activity {
        opacity: 0.9;
        position: absolute;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        height: 280px;
        line-height: 200px;
        width: 100%;
        top: 0px;
        transition: all 0.5s ease;
    }
    .activity-content {
        display: grid;
        width: 100%;
        grid-template-columns: 90% !important;
        grid-row-gap: 30px;
    }

    .item-activity {
        display: inline-block;
        width: 90% !important;
        margin-left: 5%;
        background-color: #5d6797;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 15px #00000020;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .title-activity {
        opacity: 0.9;
        position: absolute;
        
        color: #FFF;
        text-align: center;
        height: 280px;
        line-height: 250px;
        width: 100%;
        bottom: 0px;
        transition: all 0.5s ease;
    }

    .skill-content {
        display: block;
        margin-bottom: 100px;
        width: 80%;
        margin-left: 10%;
        user-select: none;
    }

    .skill-content > div {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 1%;
        margin-left: 0.5%;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 20px #00000020;
        overflow: hidden;
        background: linear-gradient(#5d6797,#d56799);
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .content-grid-title {
        display: block;
    }    
    .content-grid-title > div {
        width: 100%;
    }
    
    .content-grid-title > div:nth-child(2){
        width: 80%;
    }

    .box-profile {
        width: 100%;
        margin-left: 20px;
        display: block;
    }

    .name-header {
        width: 100%;
        font-size: 30px !important;
    }

    .box-text {
        width: 100%;
    }

    .header-center {
        margin-top: 0px !important;
        margin-bottom: 40px !important;
        font-size: 16pt;
        text-align: center;
        color: #726798;
    }
}