.main {
    position: relative;
    width: 600px;
    margin: 0 auto;
  }

  .main::after {
    content: "";
    position: absolute;
    width: 5px;
    background: linear-gradient(
      to bottom,
      rgba(80, 80, 80, 0) 0%,
      rgb(116, 62, 129) 8%,
      rgb(204, 89, 114) 92%,
      rgba(158, 122, 122, 0) 100%
    );
    top: 0;
    bottom: 0;
    left: 50.3%;
    margin-left: -3px;
  }

  .text-wrapper {
    padding: 10px 40px;
    position: relative;
    width: 51%;
    box-sizing: border-box;
  }

  .text-wrapper::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    right: -9px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 4px #5d6797, inset 0 2px 0 rgb(0 0 0 / 8%),
      0 3px 0 4px rgb(0 0 0 / 5%);
    background: #ffffff;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .right::after {
    left: -11px;
  }

  .content {
    padding: 15px 15px 15px 17px;
    background: white;
    border-radius: 10px;
  }

  .content h3 {
    font-size: 14px;
    color: #6749a0;
    letter-spacing: 1px;
  }

  .content p {
    font-weight: 300;
    margin-top: 2px;
    font-size: 12px;
  }
  
  .content a {
    background-color: #5d6797;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 2px;
    font-size: 12px;
  }